uniswap-universal-router-decoder >= v0.8.0
web3 >= 6.0.0, < 7.0.0
eth-abi >= 4.0.0
eth-account >= 0.8.0, < 0.12
eth-rlp < 2.0.0
eth-typing >= 3.0.0, != 4.2.0, < 5.0.0
eth-utils >= 2.1.0, < 5
hexbytes >= 0.1.0, < 0.4.0
